version: '2'

services:

  master:
    build: .
    environment:
      POSTGRES_USER: 'xtm'
      TSDTM: 'yes'
      ROLE: 'master'
    ports:
      - "5432:5432"
    depends_on:
      - shard1
      - shard2

  shard1:
    build: .
    environment:
      POSTGRES_USER: 'xtm'
      TSDTM: 'yes'
      ROLE: 'shard'

  shard2:
    build: .
    environment:
      POSTGRES_USER: 'xtm'
      TSDTM: 'yes'
      ROLE: 'shard'


